*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.caixa_login{
	border-radius: 5px;
	box-shadow: 0px 0px 15px #333;
	margin-top: 30%;
	padding: 10px;
	width: 320px;
}
.caixa_login h2{
	text-align: center;
}
.caixa_login form{
	margin-top:15px;
	height: 230px;
}
.fundo_titulo{
	height: 70px;
	width: 320px;
	margin-left:-10px;
	margin-top:-30px;
	background-color: #333;
	color:#FFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
.fundo_titulo h2{
	padding-top: 20px;
}
.bem_vindo_user{
	text-align: left;
}
.div_ultima_atualizacao{
	text-align: left;
}
.div_ultima_atualizacao p{
	margin-top:8px;
	color:#727272;
}
.div_btn_atualizar{
	color:#727272;
}
.logo_footer{
	text-align: center;
	color:#727272;
}
.logo_footer p{
	margin-top:4px;
	margin-right:8px;
	float: left;
}
.logo_footer img{
	float: left;
}
.navbar-right{
	margin-right: 0;
}
#msg{
	color:#DD2E2E;
}